
body{
  margin: 0;
  color:#40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size:  4.525em;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 1;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  line-height: 2;
  font-size: 40px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
}

.profile{
  height:  300px;
  width: 300px;
  margin-top: 100px
}


.coding{

  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 0;
}

.gaming{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 320px;
}

.bottom-cloud{
  position: absolute;
  top: 400px;
  left:400px;

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: white;
}

.btn{
  color: #11999E;

}

.description{
  width: 40%;
  margin: 50px auto 100px auto;

}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bd{
  margin: 0 auto 0 auto;
  font-weight: bold;
}

.ct{
    margin-top: 40px;
    font-weight: bold;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  color: white;
}

.copyright{
  margin-bottom: 10px;
  font-size: 0.75rem;
  padding: 20px 0;
}
